
/* Hover effect moja kwa moja */
.nav-link:hover {
background-color: #dce1e6; /* Rangi unayoitaka */
border-radius: 5px;
color: #110f0f !important;    /* Kuhakikisha text haibadiliki rangi */
transition: all 0.3s ease; /* Smooth effect */
}
main {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  background: #f4f4f9;
}

h2 {
  margin-bottom: 20px;
}



label {
  display: block;
  margin-top: 10px;
}

input {
  width: 100%;
  padding: 8px;
  margin-top: 4px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  margin-top: 15px;
  padding: 10px;
  width: 100%;
  background: #007BFF;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background: #0056b3;
}

/* Footer container */
footer.container-fluid1 {
  background: #222;          /* rangi ya nyuma */
  color: #fff;               /* maandishi meupe */
  text-align: center;        /* content katikati */
  padding: 20px 10px;
  margin-top: 40px;
}

/* Copyright text */
footer.container-fluid1 div:first-child {
  font-size: 14px;
  margin-bottom: 10px;
}

/* Social media list */
footer.container-fluid1 ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;             /* panga icons mlalo */
  justify-content: center;   /* ziwe katikati */
  gap: 15px;                 /* nafasi kati ya icons */
}

/* Social media links */
footer.container-fluid1 ul li a img {
  width: 30px;
  height: 30px;
  filter: brightness(0) invert(1); /* icons zionekane nyeupe */
  transition: transform 0.3s, filter 0.3s;
}

footer.container-fluid1 ul li a img:hover {
  transform: scale(1.2);        /* zikue kidogo uki-hover */
  filter: brightness(0) invert(0.6) sepia(1) hue-rotate(190deg) saturate(200%);
}

main.container {
  margin-top: 80;       /* Ongeza content kuanza juu kabisa */
  padding-top: 0;      /* Ondoa padding ya juu */
}